openapi: 3.0.0
info:
  title: caribe api
  version: '1.0'
  contact:
    email: rubnrequena@gmail.com
    name: Ruben Requena
  description: API para las taquillas de escritorio del sistema CaribeApuesta
servers:
  - url: 'https://api.caribeapuesta.com/'
paths:
  api/pos/auth:
    post:
      summary: Autenticacion
      operationId: post-auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  _id:
                    type: string
                    minLength: 1
                  comision:
                    type: number
                  participacion:
                    type: number
                  moneda:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - nombre
                        - siglas
                        - principal
                        - __v
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        nombre:
                          type: string
                          minLength: 1
                        siglas:
                          type: string
                          minLength: 1
                        principal:
                          type: boolean
                        __v:
                          type: number
                  nombre:
                    type: string
                    minLength: 1
                  usuario:
                    type: string
                    minLength: 1
                  rol:
                    type: string
                    minLength: 1
                  correo:
                    type: string
                    minLength: 1
                  telefono:
                    type: string
                    minLength: 1
                  codigo:
                    type: string
                    minLength: 1
                  token:
                    type: string
                    minLength: 1
                required:
                  - error
                  - _id
                  - comision
                  - participacion
                  - moneda
                  - nombre
                  - usuario
                  - rol
                  - correo
                  - telefono
                  - codigo
                  - token
              examples:
                Ejemplo:
                  value:
                    error: OK
                    _id: 5fac7cf0f2740e304453847c
                    comision: 0
                    participacion: 0
                    moneda:
                      - _id: 5f3f9f72e8430007447ced9b
                        nombre: Bolivar
                        siglas: ves
                        principal: true
                        __v: 0
                    nombre: POS 1
                    usuario: pos1
                    rol: taquilla
                    correo: pos1@gmail.com
                    telefono: '04149970167'
                    codigo: 0-64-30-30-30-142
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmFjN2NmMGYyNzQwZTMwNDQ1Mzg0N2MiLCJub21icmUiOiJQT1MgMSIsInJvbCI6InRhcXVpbGxhIiwiamVyYXJxdWlhIjpbIjVmYWMwY2IzZjQxMzE0MTNlYzA0MjY5NiIsIjVmYWM3Y2VmZjI3NDBlMzA0NDUzODQ2ZiIsIjVmYWM3Y2VmZjI3NDBlMzA0NDUzODQ3MSIsIjVmYWM3Y2VmZjI3NDBlMzA0NDUzODQ3MiIsIjVmYWM3Y2YwZjI3NDBlMzA0NDUzODQ3YiJdLCJtb25lZGEiOlt7Il9pZCI6IjVmM2Y5ZjcyZTg0MzAwMDc0NDdjZWQ5YiIsIm5vbWJyZSI6IkJvbGl2YXIiLCJzaWdsYXMiOiJ2ZXMiLCJwcmluY2lwYWwiOnRydWUsIl9fdiI6MH1dLCJwZXJtaXNvcyI6IjVmYWMwY2IzZjQxMzE0MTNlYzA0MjY5NyIsImlhdCI6MTYwNTcyNjUxMywiZXhwIjoxNjA1ODEyOTEzfQ.L-SqiVAIGDVqWXXLb8FoLFXgHlvR_AgODt0tVqRHO2E
      description: punto de acceso para iniciar sesion
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario:
                  type: string
                clave:
                  type: string
            examples:
              ejemplo:
                value:
                  usuario: pos1
                  clave: '1234'
        description: Solicitar inicio de sesion
      tags:
        - Sesion
    parameters: []
  /api/pos/sorteo/disponibles:
    get:
      summary: sorteos disponibles
      tags:
        - sorteos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  operadoras:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        sorteos:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                                minLength: 1
                              abierta:
                                type: boolean
                              descripcion:
                                type: string
                                minLength: 1
                              cierra:
                                type: string
                                minLength: 1
                              ganador:
                                type: string
                                minLength: 1
                            required:
                              - _id
                              - abierta
                              - descripcion
                              - cierra
                              - ganador
                        operadora:
                          type: string
                          minLength: 1
                        tipo:
                          type: string
                      required:
                        - _id
                        - operadora
                required:
                  - error
                  - operadoras
              examples:
                Ejemplo:
                  value:
                    error: OK
                    operadoras:
                      - _id: 5fac6a25752eb23494950e9e
                        sorteos:
                          - _id: 5fb4fabcaa940930b412c740
                            abierta: true
                            descripcion: 'GRANJITA 05:00 AM'
                            cierra: '2020-11-18T04:00:00.000Z'
                            ganador: '00'
                          - _id: 5fb4fabcaa940930b412c741
                            abierta: true
                            descripcion: 'GRANJITA 12:00 PM'
                            cierra: '2020-11-18T11:00:00.000Z'
                            ganador: '03'
                          - _id: 5fb4fabcaa940930b412c742
                            abierta: true
                            descripcion: 'GRANJITA 11:59 PM'
                            cierra: '2020-11-18T22:59:00.000Z'
                            ganador: '2'
                        operadora: GRANJITA
      operationId: get-sorteos-dispnibles
      description: Obtener listado de sorteos disponibles
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
    parameters: []
  /api/pos/sorteo/conganador:
    get:
      summary: sorteos premiados
      tags:
        - sorteos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      minLength: 1
                    descripcion:
                      type: string
                      minLength: 1
                    ganador:
                      type: string
                      minLength: 1
                  required:
                    - _id
                    - descripcion
                    - ganador
      operationId: get-sorteo-conganador
      description: Obtener el listado de sorteos premiados del dia
      parameters:
        - schema:
            type: string
          in: query
          name: operadora
          description: id de la operadora
          required: true
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmFjMmNiZTZlODIxODE0YjY1MWEzNzkiLCJub21icmUiOiJQT1MgMSIsInJvbCI6InRhcXVpbGxhIiwiamVyYXJxdWlhIjpbIjVmYWMwY2RjNzdkMzU4NzY4NzgyMTkzNyIsIjVmYWMyY2JlNmU4MjE4MTRiNjUxYTM2YyIsIjVmYWMyY2JlNmU4MjE4MTRiNjUxYTM2ZSIsIjVmYWMyY2JlNmU4MjE4MTRiNjUxYTM2ZiIsIjVmYWMyY2JlNmU4MjE4MTRiNjUxYTM3OCJdLCJtb25lZGEiOlt7Il9pZCI6IjVmYWMwY2RjNzdkMzU4NzY4NzgyMTkzOSIsIm5vbWJyZSI6IkJvbGl2YXIiLCJzaWdsYXMiOiJ2ZXMiLCJwcmluY2lwYWwiOmZhbHNlLCJfX3YiOjB9XSwicGVybWlzb3MiOiI1ZmFjMGNkYzc3ZDM1ODc2ODc4MjE5MzgiLCJpYXQiOjE2MDU3MTc4NjAsImV4cCI6MTYwNTgwNDI2MH0.idUQdXJeNLMlM-LzvJGNsaf7nQxj0r3rgkEuiRhbJ7U
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
  api/pos/ticket/venta:
    post:
      summary: vender
      operationId: post-ticket-venta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  ticket:
                    type: object
                    properties:
                      serial:
                        type: string
                        minLength: 1
                      codigo:
                        type: number
                      creado:
                        type: string
                        minLength: 1
                      monto:
                        type: number
                    required:
                      - serial
                      - codigo
                      - creado
                      - monto
                  aceptado:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - sorteo
                        - numero
                        - monto
                        - operadora
                      properties:
                        sorteo:
                          type: string
                          minLength: 1
                        numero:
                          type: string
                          minLength: 1
                        monto:
                          type: number
                        operadora:
                          type: string
                          minLength: 1
                  rechazado:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - sorteo
                        - numero
                        - monto
                        - operadora
                      properties:
                        sorteo:
                          type: string
                          minLength: 1
                        numero:
                          type: string
                          minLength: 1
                        monto:
                          type: number
                        operadora:
                          type: string
                          minLength: 1
                required:
                  - error
                  - ticket
                  - aceptado
                  - rechazado
              examples:
                Ejemplo:
                  value:
                    error: OK
                    ticket:
                      serial: A11277
                      codigo: 2586
                      creado: '2020-11-27T22:49:23.605Z'
                      monto: 22700
                    aceptado:
                      - sorteo: 5fc11d9cc8676e2348e4dba0
                        numero: '00'
                        monto: 9000
                        operadora: 5fb59c152187188aa94612c6
                      - sorteo: 5fc11d9cc8676e2348e4dba0
                        numero: '01'
                        monto: 0
                        operadora: 5fb59c152187188aa94612c6
                      - sorteo: 5fc11d9cc8676e2348e4dba0
                        numero: '02'
                        monto: 10000
                        operadora: 5fb59c152187188aa94612c6
                      - sorteo: 5fc11d9cc8676e2348e4dba0
                        numero: '03'
                        monto: 3700
                        operadora: 5fb59c152187188aa94612c6
                    rechazado:
                      - sorteo: 5fc11d9cc8676e2348e4dba0
                        numero: '01'
                        monto: 0
                        operadora: 5fb59c152187188aa94612c6
      description: Vender ticket
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: ''
              minItems: 1
              uniqueItems: true
              items:
                type: object
                required:
                  - sorteo
                  - numero
                  - monto
                properties:
                  sorteo:
                    type: string
                    minLength: 1
                  numero:
                    type: string
                    minLength: 1
                  monto:
                    type: number
            examples:
              Ejemplo:
                value:
                  - sorteo: 5fb4fabcaa940930b412c742
                    numero: '00'
                    monto: 5700
                  - sorteo: 5fb4fabcaa940930b412c742
                    numero: '01'
                    monto: 3300
                  - sorteo: 5fb4fabcaa940930b412c742
                    numero: '02'
                    monto: 9100
                  - sorteo: 5fb4fabcaa940930b412c742
                    numero: '03'
                    monto: 6800
        description: ''
      tags:
        - ticket
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
    parameters: []
  api/pos/ticket/buscar:
    get:
      summary: buscar ticket
      tags:
        - ticket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  _id:
                    type: string
                    minLength: 1
                  serial:
                    type: string
                    minLength: 1
                  usuario:
                    type: string
                    minLength: 1
                  creado:
                    type: string
                    minLength: 1
                  monto:
                    type: number
                  anulado:
                    type: boolean
                  moneda:
                    type: string
                    minLength: 1
                  ventas:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - premio
                        - pagado
                        - sorteo
                        - numero
                        - monto
                        - moneda
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        premio:
                          type: boolean
                        pagado:
                          type: boolean
                        sorteo:
                          type: string
                          minLength: 1
                        numero:
                          type: string
                          minLength: 1
                        monto:
                          type: number
                        moneda:
                          type: string
                          minLength: 1
                  sorteos:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - descripcion
                        - operadora
                        - ganador
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        descripcion:
                          type: string
                          minLength: 1
                        operadora:
                          type: string
                          minLength: 1
                        ganador:
                          type: string
                          minLength: 1
                  operadoras:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - comision
                        - participacion
                        - nombre
                        - paga
                        - numeros
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        comision:
                          type: number
                        participacion:
                          type: number
                        nombre:
                          type: string
                          minLength: 1
                        paga:
                          type: number
                        numeros:
                          type: string
                          minLength: 1
                required:
                  - error
                  - _id
                  - serial
                  - usuario
                  - creado
                  - monto
                  - anulado
                  - moneda
                  - ventas
                  - sorteos
                  - operadoras
              examples:
                Ejemplo:
                  value:
                    error: OK
                    _id: 5fb578bb5b731f2b70fd0ee0
                    serial: A111821
                    usuario: 5fac7cf0f2740e304453847c
                    creado: '2020-11-18T19:40:43.512Z'
                    monto: 16300
                    anulado: false
                    moneda: ves
                    ventas:
                      - _id: 5fb578bb5b731f2b70fd0ee1
                        premio: false
                        pagado: false
                        sorteo: 5fb4fabcaa940930b412c742
                        numero: '00'
                        monto: 7600
                        moneda: ves
                      - _id: 5fb578bb5b731f2b70fd0ee2
                        premio: false
                        pagado: false
                        sorteo: 5fb4fabcaa940930b412c742
                        numero: '01'
                        monto: 2700
                        moneda: ves
                      - _id: 5fb578bb5b731f2b70fd0ee3
                        premio: false
                        pagado: false
                        sorteo: 5fb4fabcaa940930b412c742
                        numero: '02'
                        monto: 3800
                        moneda: ves
                      - _id: 5fb578bb5b731f2b70fd0ee4
                        premio: false
                        pagado: false
                        sorteo: 5fb4fabcaa940930b412c742
                        numero: '03'
                        monto: 2200
                        moneda: ves
                    sorteos:
                      - _id: 5fb4fabcaa940930b412c742
                        descripcion: 'GRANJITA 11:59 PM'
                        operadora: 5fac6a25752eb23494950e9e
                        ganador: '3'
                    operadoras:
                      - _id: 5fac6a25752eb23494950e9e
                        comision: 0
                        participacion: 0
                        nombre: GRANJITA
                        paga: 30
                        numeros: 5f44d89465c6e551dcb5213c
      operationId: get-ticket-buscar-serial
      description: buscar ticket por serial
      parameters:
        - schema:
            type: string
          in: query
          name: serial
          required: true
          description: Serial del ticket
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
    parameters: []
  api/pos/ticket/anular:
    post:
      summary: Anular ticket
      operationId: post-ticket-anular
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  ticket:
                    type: object
                    required:
                      - anulado
                      - _id
                      - ticketId
                    properties:
                      anulado:
                        type: string
                        minLength: 1
                      _id:
                        type: string
                        minLength: 1
                      ticketId:
                        type: string
                        minLength: 1
                required:
                  - error
                  - ticket
              examples:
                Ejemplo:
                  value:
                    error: OK
                    ticket:
                      anulado: '2020-11-18T19:47:26.541Z'
                      _id: 5fb57a4ead2bcc0ad4b74a1a
                      ticketId: 5fb57a4ead2bcc0ad4b74a15
      description: Anular ticket
      tags:
        - ticket
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                serial:
                  type: string
                  minLength: 1
                codigo:
                  type: string
                  minLength: 1
              required:
                - serial
                - codigo
        description: ''
    parameters: []
  /api/pos/reporte/general:
    get:
      description: Reporte de Usuario
      summary: Reporte Usuario
      tags:
        - Reportes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  reportes:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - venta
                        - premio
                        - tickets
                        - subtotal
                        - comision
                        - participacion
                        - total
                        - operadora
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        venta:
                          type: number
                        premio:
                          type: number
                        tickets:
                          type: number
                        subtotal:
                          type: number
                        comision:
                          type: number
                        participacion:
                          type: number
                        total:
                          type: number
                        operadora:
                          type: string
                          minLength: 1
                required:
                  - error
                  - reportes
              examples:
                Ejemplo:
                  value:
                    error: OK
                    reportes:
                      - _id: 5fac6a25752eb23494950e9e
                        venta: 1974700
                        premio: 2428000
                        tickets: 360
                        subtotal: -453300
                        comision: 0
                        participacion: 0
                        total: -453300
                        operadora: GRANJITA
      operationId: get-api-pos-reporte-general-usuario
      parameters:
        - schema:
            type: string
          in: query
          name: usuario
          required: true
        - schema:
            type: string
          in: query
          name: desde
          required: true
        - schema:
            type: string
          in: query
          name: hasta
          required: true
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
    parameters: []
  /api/pos/reporte/tickets:
    get:
      summary: Reporte de Ventas por ticket
      tags:
        - Reportes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  tickets:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - codigo
                        - serial
                        - creado
                        - monto
                        - anulado
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        codigo:
                          type: number
                        serial:
                          type: string
                          minLength: 1
                        creado:
                          type: string
                          minLength: 1
                        monto:
                          type: number
                        anulado:
                          type: boolean
                required:
                  - error
                  - tickets
              examples:
                Ejemplo:
                  value:
                    error: OK
                    tickets:
                      - _id: 5fb54811ce1d57092cbdc123
                        codigo: 9484
                        serial: A11181
                        creado: '2020-11-18T16:13:05.099Z'
                        monto: 189400
                        anulado: true
                      - _id: 5fb5583b34c8cb32207200fd
                        codigo: 5836
                        serial: A11182
                        creado: '2020-11-18T17:22:03.242Z'
                        monto: 185700
                        anulado: true
                      - _id: 5fb55cb51f66b12b78205ab7
                        codigo: 3125
                        serial: A11183
                        creado: '2020-11-18T17:41:09.939Z'
                        monto: 206000
                        anulado: true
                      - _id: 5fb567bb67372e2beccdabf3
                        codigo: 5236
                        serial: A11184
                        creado: '2020-11-18T18:28:11.074Z'
                        monto: 165600
                        anulado: false
                      - _id: 5fb568089dfe2635185d9aa6
                        codigo: 3086
                        serial: A11185
                        creado: '2020-11-18T18:29:28.846Z'
                        monto: 201800
                        anulado: true
                      - _id: 5fb56a2601c4603c3cea0298
                        codigo: 7830
                        serial: A11186
                        creado: '2020-11-18T18:38:30.072Z'
                        monto: 172100
                        anulado: true
                      - _id: 5fb5700caf7a762e68d35663
                        codigo: 7379
                        serial: A11187
                        creado: '2020-11-18T19:03:40.376Z'
                        monto: 210300
                        anulado: true
                      - _id: 5fb570b0d4416634f8f50d5f
                        codigo: 1625
                        serial: A11188
                        creado: '2020-11-18T19:06:24.454Z'
                        monto: 200800
                        anulado: true
                      - _id: 5fb571311f82ee3d64a01be0
                        codigo: 6814
                        serial: A11189
                        creado: '2020-11-18T19:08:33.639Z'
                        monto: 223200
                        anulado: true
                      - _id: 5fb57209da3b8c2d385e472b
                        codigo: 3152
                        serial: A111810
                        creado: '2020-11-18T19:12:09.385Z'
                        monto: 219800
                        anulado: true
                      - _id: 5fb572e149c9b6280c255109
                        codigo: 7596
                        serial: A111811
                        creado: '2020-11-18T19:15:45.684Z'
                        monto: 194900
                        anulado: false
      operationId: get-api-pos-reporte-ventas
      description: Reporte de venta
      parameters:
        - schema:
            type: string
          in: query
          name: fecha
          required: true
        - schema:
            type: string
            enum:
              - venta
              - premiado
              - pagado
              - pendiente
              - anulado
            default: venta
          in: query
          name: estado
          required: true
        - schema:
            type: string
            default: ves
          in: query
          name: moneda
          required: true
        - schema:
            type: string
            example: Bearer ahstfgsnbqys...
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
    parameters: []
  api/pos/ticket/pagar:
    post:
      summary: Pagar Ticket
      operationId: post-ticket-pagar
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  result:
                    type: object
                    properties:
                      ticket:
                        type: string
                        minLength: 1
                      numero:
                        type: string
                        minLength: 1
                      pagado:
                        type: string
                        minLength: 1
                      responsable:
                        type: string
                        minLength: 1
                      _id:
                        type: string
                        minLength: 1
                    required:
                      - ticket
                      - numero
                      - pagado
                      - responsable
                      - _id
                required:
                  - error
                  - result
              examples:
                Ejemplo:
                  value:
                    error: OK
                    result:
                      ticket: 5fb7b7c34b3ddf1c34dd8661
                      numero: '34'
                      pagado: '2020-11-20T16:44:42.210Z'
                      responsable: 5fb7998b3881183894ea63fc
                      _id: 5fb7f27a6fc97a40541b3ed9
      description: Pagar ticket premiado
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          description: token de sesion
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serial:
                  type: string
                codigo:
                  type: string
                numero:
                  type: string
            examples:
              Ejemplo:
                value:
                  serial: A1234
                  codigo: '1234'
                  numero: '33'
    parameters: []
  /api/pos/reporte/caja:
    get:
      description: Reporte de Caja
      summary: Obtener reporte de caja
      tags:
        - Reportes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    venta:
                      type: number
                    premio:
                      type: number
                    tickets:
                      type: integer
                    subtotal:
                      type: number
                    comision:
                      type: number
                    participacion:
                      type: number
                    total:
                      type: number
                    operadora:
                      type: string
                      description: |
                        id de la operadora
                      example: 5fac0cb3f4131413ec042696
                    fecha:
                      type: string
                      example: '2020-11-11 11:00:00'
                    sesionId:
                      type: string
                      example: 5fac0cb3f4131413ec042696
              examples:
                Ejemplo:
                  value:
                    - _id: 5fac0cb3f4131413ec042696
                      venta: 0
                      premio: 0
                      tickets: 0
                      subtotal: 0
                      comision: 0
                      participacion: 0
                      total: 0
                      operadora: 5fac0cb3f4131413ec042696
                      fecha: '2020-11-11 11:00:00'
                      sesionId: 5fac0cb3f4131413ec042696
      operationId: get-api-pos-reporte-caja
      parameters:
        - schema:
            type: string
          in: query
          name: fecha
          required: true
        - schema:
            type: string
            default: ves
            example: ves
            enum:
              - ves
              - usd
              - eur
          in: query
          name: moneda
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
      deprecated: true
  /api/pos/reporte/caja/generar:
    get:
      description: Reporte de Caja
      summary: Generar reporte de caja
      tags:
        - Reportes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  mensaje:
                    type: string
      operationId: get-api-pos-reporte-caja-generar
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
      deprecated: true
  api/pos/ticket/devolucion:
    post:
      description: Devolucion de ticket
      summary: Devolución de ticket
      operationId: post-ticket-devolucion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  mensaje:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serial:
                  type: string
                sorteo:
                  type: string
                numero:
                  type: string
                razon:
                  type: string
      tags:
        - ticket
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
    parameters: []
  api/pos/auth/cambiarclave:
    post:
      summary: Cambiar contraseña del POS
      operationId: post-auth-cambiarclave
      responses:
        '200':
          description: OK
      description: Cambiar contraseña de la taquilla
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clave_actual:
                  type: string
                clave_nueva:
                  type: string
              required:
                - clave_actual
      parameters:
        - schema:
            type: string
            example: Bearer af4gs0ds7aas8bba....
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
          description: JWToken
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
    parameters: []
  api/pos/auth/recuperar_clave:
    get:
      summary: Recuperar contraseña
      tags: []
      responses: {}
      operationId: get-auth-recuperar_clave
      description: 'Enviar solicitud para recuperar contraseña, mediante el correo'
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
    parameters: []
  /api/pos/sorteo/buscar:
    get:
      summary: Buscar sorteos del dia
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  sorteos:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - _id
                        - abierta
                        - ganador
                        - descripcion
                        - cierra
                      properties:
                        _id:
                          type: string
                          minLength: 1
                        abierta:
                          type: boolean
                        ganador:
                          type: string
                        descripcion:
                          type: string
                          minLength: 1
                        cierra:
                          type: string
                          minLength: 1
                required:
                  - error
                  - sorteos
              examples:
                Ejemplo:
                  value:
                    error: OK
                    sorteos:
                      - _id: 5fbbd00e713bae4bc06778c6
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 9:00 AM'
                        cierra: '2020-11-23T08:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778c7
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 10:00 AM'
                        cierra: '2020-11-23T09:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778c8
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 11:00 AM'
                        cierra: '2020-11-23T10:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778c9
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 12:00 PM'
                        cierra: '2020-11-23T11:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778ca
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 2:00 PM'
                        cierra: '2020-11-23T13:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778cb
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 4:00 PM'
                        cierra: '2020-11-23T15:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778cc
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 6:00 PM'
                        cierra: '2020-11-23T17:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778cd
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 8:00 PM'
                        cierra: '2020-11-23T19:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778ce
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 10:00 PM'
                        cierra: '2020-11-23T21:00:00.000Z'
                      - _id: 5fbbd00e713bae4bc06778cf
                        abierta: true
                        ganador: ''
                        descripcion: 'TRIPLE ZULIA A 11:50 PM'
                        cierra: '2020-11-23T22:50:00.000Z'
      operationId: get-api-pos-sorteo-buscar
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
        - schema:
            type: string
          in: query
          name: fecha
        - schema:
            type: string
          in: query
          name: operadora
          description: Id de la operadora
  /api/pos/ticket/validar:
    get:
      summary: Pre validar ticket
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                  resultado:
                    type: object
                    required:
                      - aceptado
                      - rechazado
                    properties:
                      aceptado:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            sorteo:
                              type: string
                              minLength: 1
                            numero:
                              type: string
                              minLength: 1
                            monto:
                              type: number
                            operadora:
                              type: string
                              minLength: 1
                          required:
                            - sorteo
                            - numero
                            - monto
                            - operadora
                      rechazado:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            sorteo:
                              type: string
                              minLength: 1
                            numero:
                              type: string
                              minLength: 1
                            monto:
                              type: number
                            operadora:
                              type: string
                              minLength: 1
                          required:
                            - sorteo
                            - numero
                            - monto
                            - operadora
                required:
                  - error
                  - resultado
              examples:
                Ejemplo:
                  value:
                    error: OK
                    resultado:
                      aceptado:
                        - sorteo: 5fc11d9cc8676e2348e4dba0
                          numero: '00'
                          monto: 3700
                          operadora: 5fb59c152187188aa94612c6
                        - sorteo: 5fc11d9cc8676e2348e4dba0
                          numero: '01'
                          monto: 4700
                          operadora: 5fb59c152187188aa94612c6
                        - sorteo: 5fc11d9cc8676e2348e4dba0
                          numero: '02'
                          monto: 5900
                          operadora: 5fb59c152187188aa94612c6
                        - sorteo: 5fc11d9cc8676e2348e4dba0
                          numero: '03'
                          monto: 7600
                          operadora: 5fb59c152187188aa94612c6
                      rechazado:
                        - sorteo: 5fc11d9cc8676e2348e4dba0
                          numero: '01'
                          monto: 4700
                          operadora: 5fb59c152187188aa94612c6
      operationId: get-api-pos-ticket-validar
      parameters:
        - schema:
            type: string
            default: 'Bearer '
          in: header
          name: Authorization
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: ''
              minItems: 1
              uniqueItems: true
              items:
                type: object
                required:
                  - sorteo
                  - numero
                  - monto
                properties:
                  sorteo:
                    type: string
                    minLength: 1
                  numero:
                    type: string
                    minLength: 1
                  monto:
                    type: number
components:
  schemas:
    Sorteo:
      title: Sorteo
      type: object
      properties:
        _id:
          type: string
        descripcion:
          type: string
        cierra:
          type: string
          format: date-time
          example: '2020-11-11T00:00:00Z'
        operadora:
          type: string
    Error:
      title: Error
      type: object
      properties:
        error:
          type: string
      description: Modelo para respuestas de error
  securitySchemes: {}
tags:
  - name: sorteos
  - name: ticket
  - name: Sesion
  - name: Reportes
